// START:: SASS MIXINS
@mixin boxSiizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transitioning {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
// END:: SASS MIXINS

// START:: SASS VARIABLES
$mainColor: #00AC5E;
$darkColor: #212121;
$textColor: #6d6e75;

$sectionPadding: 60px 0;
// END:: SASS VARIABLES

// START:: GLOBAL STYLES
* {
  @include boxSiizing();
}

body {
  font-family: 'Cairo', sans-serif;
  min-height: 200vh;
}
// END:: GLOBAL STYLES

// START:: NAVBAR STYLES
nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  @include transitioning();
  &.stiky {
    background-color: rgba(0, 0, 0, 0.8);
    .nav-links {
      .menu-container {
        .menu-item {
          a {
            color: #fff;
          }
        }
      }
    }

    .lang-btn {
      a {
        color: #fff;
      }
    }
  }
  .nav-icon {
    width: 100px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .nav-links {
    .menu-container {
      height: 100%;
      .menu-item {
        a {
          text-decoration: none;
          color: $darkColor;
          padding-bottom: 5px;
          position: relative;
          border-bottom: 2px solid transparent;
          @include transitioning();
          &:hover {
            color: $mainColor;
            border-bottom: 2px solid $mainColor;
          }
        }
      }
    }
  }

  .lang-btn {
    height: auto;
    a {
      text-decoration: none;
      color: $darkColor;
      font-size: 35px;
      position: relative;
      @include transitioning();
      &:hover {
        color: $mainColor;
      }
    }
  }
}
// END:: NAVBAR STYLES

// START:: SLIDER STYLES
.carousel {
  .carousel-indicators {
    li.active {
      background-color: $mainColor !important;
    }
  }

  .carousel-inner {
    height: 600px;
    max-height: 600px;
    .carousel-item {
      img {
        height: auto;
      }
    }
  }
}
// END:: SLIDER STYLES

// START:: WELCOME SECTION STYLES
.welcome-sec {
  padding: $sectionPadding;
  .welcome-img {
    max-width: 540px;
    max-height: 360px;
  }

  .welcome-text {
    h2 {
      color: $mainColor;
      font-weight: 400;
    }

    p {
      text-align: justify;
      line-height: 1.8;
      color: $textColor
    }
  }
}
// END:: WELCOME SECTION STYLES

// START:: INVESTOR SECTION STYLES
.investor {
  padding: $sectionPadding;
  .investor-video {
    min-height: 360px;
    max-height: 360px;
    iframe {
      width: 100%;
      height: 100%;
    }
  }
}
// END:: INVESTOR SECTION STYLES