* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

* .hover-effect {
  text-decoration: none;
  padding: 3px 10px;
  border: 2px solid #00AC5E;
  color: #00AC5E;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
  position: relative;
}

* .hover-effect::before {
  content: "";
  display: block;
  position: absolute;
  top: -2px;
  left: 10%;
  height: 2px;
  width: 20px;
  background-color: #fff;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

* .hover-effect::after {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  right: 10%;
  height: 2px;
  width: 20px;
  background-color: #fff;
  -webkit-transform: skew(50deg);
          transform: skew(50deg);
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

* .hover-effect:hover {
  text-decoration: none;
  color: #00AC5E;
}

* .hover-effect:hover::before {
  left: 60%;
  -webkit-transform: skew(-50deg);
          transform: skew(-50deg);
}

* .hover-effect:hover::after {
  right: 60%;
  -webkit-transform: skew(-50deg);
          transform: skew(-50deg);
}

* .sec-heading {
  color: #00AC5E;
  position: relative;
  font-size: 2.4vw;
}

* .sec-heading::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 8%;
  height: 2px;
  width: 15%;
  background-color: #00AC5E;
}

* .sec-heading::after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  right: 8%;
  height: 2px;
  width: 15%;
  background-color: #00AC5E;
}

@media (max-width: 690px) {
  * .sec-heading {
    font-size: 4vw;
  }
}

@media (max-width: 767px) {
  * .sec-heading {
    font-size: 3.4vw;
  }
}

body {
  font-family: 'Cairo', sans-serif;
  min-height: 200vh;
}

nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav.stiky {
  background-color: rgba(0, 0, 0, 0.8);
}

nav.stiky .nav-links .menu-container .menu-item a {
  color: #fff;
}

nav.stiky .lang-btn a {
  color: #fff;
}

nav .nav-icon {
  width: 100px;
  height: 80px;
}

nav .nav-icon img {
  width: 100%;
  height: 100%;
}

nav .nav-links .menu-container {
  height: 100%;
}

nav .nav-links .menu-container .menu-item a {
  text-decoration: none;
  color: #212121;
  padding-bottom: 5px;
  position: relative;
  border-bottom: 2px solid transparent;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .nav-links .menu-container .menu-item a:hover {
  color: #00AC5E;
  border-bottom: 2px solid #00AC5E;
}

nav .lang-btn {
  height: auto;
}

nav .lang-btn a {
  text-decoration: none;
  color: #212121;
  font-size: 35px;
  position: relative;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

nav .lang-btn a:hover {
  color: #00AC5E;
}

.carousel .carousel-indicators li.active {
  background-color: #00AC5E !important;
}

.carousel .carousel-inner .carousel-item img {
  height: auto;
}

.welcome-sec {
  padding: 80px 0;
}

.welcome-sec .welcome-img {
  max-width: 540px;
  max-height: 360px;
}

.welcome-sec .welcome-text h2 {
  color: #00AC5E;
  font-weight: 400;
}

.welcome-sec .welcome-text p {
  text-align: justify;
  line-height: 1.8;
  color: #6d6e75;
}

.investor {
  padding: 80px 0;
}

.investor .investor-info .info-icon h4 {
  color: #6d6e75;
}

.investor .investor-video {
  min-height: 360px;
  max-height: 360px;
}

.investor .investor-video iframe {
  width: 100%;
  height: 100%;
}

.investor .investor-video h4 {
  color: #6d6e75;
}
/*# sourceMappingURL=style.css.map */