// START:: SASS MIXINS
@mixin boxSiizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin transitioning {
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
// END:: SASS MIXINS

// START:: SASS VARIABLES
$mainColor: #00AC5E;
// END:: SASS VARIABLES

// START:: GLOBAL STYLES
* {
  @include boxSiizing();
}

body {
  font-family: 'Cairo', sans-serif;
  min-height: 200vh;
}
// END:: GLOBAL STYLES

// START:: NAVBAR STYLES
nav {
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  @include transitioning();
  &.stiky {
    background-color: rgba(0, 0, 0, 0.8);
    .nav-links {
      .menu-container {
        .menu-item {
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .nav-icon {
    width: 100px;
    height: 80px;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .nav-links {
    .menu-container {
      height: 100%;
      .menu-item {
        a {
          text-decoration: none;
          color: #212121;
          padding-bottom: 5px;
          position: relative;
          border-bottom: 2px solid transparent;
          @include transitioning();
          &:hover {
            color: $mainColor;
            border-bottom: 2px solid $mainColor;
          }
        }
      }
    }
  }

  .lang-btn {
    height: auto;
    a {
      text-decoration: none;
      color: #fff;
      font-size: 35px;
      position: relative;
      @include transitioning();
      &:hover {
        color: $mainColor;
      }
    }
  }
}
// END:: NAVBAR STYLES